html {
	font-size: 18px;
}

.header-wrapper {
	background-color: #b3eb4b;
	padding: 1em 0;
	margin-bottom: 1em;
}

header span {
	font-size: 0.7em;
	display: block;
	margin-top: 0.2em;
}

.cnt {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 2em;
}

.info {
	display: flex;
	width: 100%;
}

/* -------------- map */

.map-legend {
	margin-left: 2em;
}

.population {
	margin-bottom: .5em;
}

.legend {
	font-size: 0.9rem;
	display: flex;
	align-items: center;
}

.color {
	width: 30px;
	height: 25px;
	background-color: green;
	margin-right: 0.5em;
}

.color1 {background-color: hsla(55, 80%, 55%, 1)}
.color2 {background-color: hsla(80, 80%, 60%, 1)}
.color3 {background-color: hsla(100, 65%, 55%, 1)}
.color4 {background-color: hsla(108, 56%, 50%, 1)}
.color5 {background-color: hsla(108, 50%, 42%, 1)}



.map-cnt {
	display: flex;
	position: relative;
	overflow: auto;
	flex: 7 0 500px;
	width: 50%;
}

.map {
	min-width: 850px;
	width: 100%;
}

#map-svg {
	margin-top: -3em;
}

/* -------------- form */

.get-data {
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}

.get-data select {
	width: auto;
	height: auto;
	margin: 0 1em;
}

.get-data label {
	margin: 0;
}


/* ----------- table */

.table-population {
	flex: 1 0 250px;
	max-width: 500px;
	margin-right: 1em;
	font-family: 'Roboto', sans-serif;
}


/* ----------- tooltip */
.map-tooltip {
	background-color: #fff;
	position: absolute;
	left: -9999px;
	top: -9999px;
	padding: 0.5em;
	box-shadow: 2px 2px 10px hsla(0, 0%, 0%, 0.2);
}

.map-tooltip h3 {
	font-size: 1.2rem;
	margin: 0;
}


/* -------- media queries */

@media screen and (max-width: 1100px){
	.info {
		flex-direction: column;
	}
	.cnt {
		padding: 0.8rem;
	}

	.map-cnt {
		width: 100%;
		order: 1;
	}

	.map-cnt {
		flex: auto;
	}

	.table-population {
		order: 2;
		align-self: center;
		margin-top: 2em;
		flex: auto;
	}
}
