.map-scroll {
	margin: 0 -0.8rem;
	margin-bottom: 0.5rem;
	position: relative;
	overflow: auto;
}

.zoom-val0 {width: $zoom-val0}
.zoom-val1 {width: $zoom-val1}
.zoom-val2 {width: $zoom-val2}
.zoom-val3 {width: $zoom-val3}
.zoom-val4 {width: $zoom-val4}
