.get-data {
	// font-size: 1.1rem;
	margin-bottom: 1rem;
}

.select-group {

	display: flex;

	label {
		display: none;
	}

	select {
		text-align: center;
		margin: 0.5rem 0;
		padding: 0 0.5rem;

		option {
			text-align: center;
		}
	}

	select:first-of-type {
		margin-right: 0.5rem;
	}
}

.btn-get-data {
	width: 100%;
}
