.country{fill:#ccc; stroke-width: 1; transition: 0.2s}
/* .country:hover{fill:green} */
.country-outline{stroke: #FFFFFF}
.country-font{
	fill:#273A4D;
	font-family:'Roboto Condensed', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	display: none;
}
.st4{font-size:14px;}
.st5{font-size:20px;}
.st6{font-size:20px;}
.st8{font-size:20px;}
