$green-dark: #4ba136;
$green-medium: #55C738;
$green-light: #70E236;
$green-bright: #B4EB47;
$yellow: #E8D930;

$red-light: #f94040;
$red-medium: #c73838;
$red-dark: #982c2c;

$header-green: #b3eb4b;

$green-nr: #00c500;
$red-nr: #ff0000;

$text-color: #212529;

$tr-hover: #f7f7f7;
$th-hover: #3c3c3c;
