/* line 1, ../../components/sass/_main.scss */
html {
  font-size: 18px;
}

/* line 5, ../../components/sass/_main.scss */
.header-wrapper {
  background-color: #b3eb4b;
  padding: 1em 0;
  margin-bottom: 1em;
}

/* line 11, ../../components/sass/_main.scss */
header span {
  font-size: 0.7em;
  display: block;
  margin-top: 0.2em;
}

/* line 17, ../../components/sass/_main.scss */
.cnt {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 2em;
}

/* line 23, ../../components/sass/_main.scss */
.info {
  display: flex;
  width: 100%;
}

/* line 30, ../../components/sass/_main.scss */
.map-legend {
  margin-left: 2em;
}

/* line 34, ../../components/sass/_main.scss */
.population {
  margin-bottom: .5em;
}

/* line 38, ../../components/sass/_main.scss */
.legend {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

/* line 44, ../../components/sass/_main.scss */
.color {
  width: 30px;
  height: 25px;
  margin-right: 0.5em;
}

/* line 50, ../../components/sass/_main.scss */
.color1 {
  background-color: #E8D930;
}

/* line 51, ../../components/sass/_main.scss */
.color2 {
  background-color: #B4EB47;
}

/* line 52, ../../components/sass/_main.scss */
.color3 {
  background-color: #70E236;
}

/* line 53, ../../components/sass/_main.scss */
.color4 {
  background-color: #55C738;
}

/* line 54, ../../components/sass/_main.scss */
.color5 {
  background-color: #4ba136;
}

/* line 57, ../../components/sass/_main.scss */
.map-cnt {
  display: flex;
  position: relative;
  overflow: auto;
  flex: 2 0 400px;
  width: 50%;
}

/* line 65, ../../components/sass/_main.scss */
.map {
  min-width: 750px;
  width: 100%;
}

/* line 70, ../../components/sass/_main.scss */
#map-svg {
  margin-top: -3em;
}

/* line 76, ../../components/sass/_main.scss */
.get-data {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
/* line 81, ../../components/sass/_main.scss */
.get-data select {
  width: auto;
  height: auto;
  margin-right: 0.5em;
}
/* line 87, ../../components/sass/_main.scss */
.get-data label {
  margin: 0;
  margin-right: 0.5em;
}
/* line 92, ../../components/sass/_main.scss */
.get-data label[for=select-second-year] {
  display: none;
}

/* line 99, ../../components/sass/_main.scss */
.table-population {
  flex: 1 0 250px;
  max-width: 500px;
  margin-right: 1em;
  font-family: 'Roboto', sans-serif;
}

/* line 108, ../../components/sass/_main.scss */
.map-tooltip {
  background-color: #fff;
  position: absolute;
  left: -9999px;
  top: -9999px;
  padding: 0.5em;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* line 117, ../../components/sass/_main.scss */
.map-tooltip h3 {
  font-size: 1.2rem;
  margin: 0;
}

@media screen and (max-width: 1100px) {
  /* line 125, ../../components/sass/_main.scss */
  .info {
    flex-direction: column;
  }

  /* line 128, ../../components/sass/_main.scss */
  .cnt {
    padding: 0.8rem;
  }

  /* line 132, ../../components/sass/_main.scss */
  .map-cnt {
    width: 100%;
    order: 1;
    flex: auto;
  }

  /* line 137, ../../components/sass/_main.scss */
  .table-population {
    order: 2;
    align-self: center;
    margin-top: 2em;
    flex: auto;
  }
}
